*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Vazirmatn',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f5132,#198754,#e8f5e9);
    min-height:100vh;
    padding:20px;
}

header{
    max-width:850px;
    margin:20px auto 30px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(12px);
    border-radius:24px;
    color:#fff;
    text-align:center;
    padding:35px 25px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

header h1{
    font-size:32px;
    margin-bottom:12px;
}

header p{
    line-height:2;
}

.container{
    max-width:850px;
    margin:auto;
}

.card{
    background:rgba(255,255,255,.18);
    backdrop-filter:blur(14px);
    -webkit-backdrop-filter:blur(14px);
border:1px solid rgba(255,255,255,.25);
    color:#fff;
    border-radius:18px;
    padding:18px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
}

.card:hover{
    transform:translateY(-4px) scale(1.02);
    background:rgba(255,255,255,.28);
}

.card div:first-child{
    font-size:20px;
}

.card div:last-child{
    font-size:26px;
}
.btn{
    background:#ffffff;
    color:#0b6b3a;
    border:none;
    border-radius:12px;
    padding:8px 16px;
    font-size:15px;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.btn:hover{
    background:#dff7e7;
    transform:scale(1.05);
}
